<script type="text/ng-template" id="home.html">
    <h2>Home page</h2>
    <h4>
        <a ui-sref='submitOrder'>Submit order</a>
    </h4>

    <h4>
        <a ui-sref='approveOrder'>Approve order</a>
    </h4>
</script>